[client]
socket=/ROOT/tmp/mysql-3306.sock
#socket=/ROOT/tmp/mysql-3307.sock
[mysqladmin]
socket=/ROOT/tmp/mysql-3306.sock
#socket=/ROOT/tmp/mysql-3307.sock
[mysqldump]
socket=/ROOT/tmp/mysql-3306.sock
#socket=/ROOT/tmp/mysql-3307.sock
[mysql_upgrade]
socket=/ROOT/tmp/mysql-3306.sock
#socket=/ROOT/tmp/mysql-3307.sock
